<div class="about-us">

    <h2>About Us</h2>

    <p>Lakshadweep is a group of islands lying scattered in the Arabian Sea. Its location is between 8 degree and
        12 degree 30 minutes North latitude and between 71 degree at a distance ranging from 200 kms (111 Nm) to 
        400 kms (222 Nm) from the south west coast of India Peninsula. All islands are surrounded by lagoons which 
        are fenced by coral reefs all around. These reefs provide a natural shelter from rough seas, besides adding 
        beauty to the islands. The total geographic area of Lakshadweep 32 sq.kms. There are ten inhabited islands 
        and the largest island Andrott is 4.84 sq.kms. The smallest inhabited island Bitra has an area of 0.10 sq.km. 
        The total population of Lakshadweep as per 2011 census is 64,429.
    </p>

    <p>The islands do not have any scope for large scale agriculture and industrial development. Therefore, the people 
        have to depend fully to the mainland for each and every requirement for their existence.</p>

    <p>Being away and isolated, these remote islands in the past had been connected to the mainland with indigenous 
        sailing vessels built by the islanders themselves. It took months for these vessels to reach the mainland. With 
        the increase in the population and their propensity to travel between islands as well as mainland the traditional
        vessels became incapable of meeting the increased demands. After the territory becoming directly under the Central
        Government in the year 1956 the administrative machinery has been striving to enhance the facilities of travel
        and transportation of Cargo to these islands. It was in 1980 a full-fledged department of Port was established
        under the Administration of the Union Territory.</p>

    <p>Now the department is renamed as Department of Port, Shipping & Aviation with its Directorate at Kavaratti. The 
        Administrator of the Lakshadweep is the apex authority. Below him is the Secretary (PSA). The day to day affairs 
        of the Department are looked after by the Director (PSA) as the Head of the Department having the directorate at 
        Kavaratti and office headed by Deputy Director (S&T) at Kochi and Port Units at all islands including Byepore. 
        There are 7 passenger ships, 8 high speed crafts, 4 General Cargo Barges, two Oil Barges and two Bollard Tugs. 
        M.V.Coral and M.V.Lagoons, built at Colombo Dockyard Limited, Sri Lanka was inducted into fleet in 2013 and 2014 respectively.</p>

    <p>Air Service between the islands and mainland is carried out bt Indian Airlines. Indian Airlines operate flights 
        between Kochi and Agatti Island on 6 days in a week except Sundays. Two Dauphin N Helicopters of Pawan Hans 
        Limited flies between the islands and to the mainland to cater to the medical and other emergency only.</p>

</div>