<div class="contact-us">

    <h2>Contact Us</h2>

    <div>
        <label>Online Ticket Complaint:</label>
        0123456789
        <br>
        <label>Email:</label>
        abcdefg@email.com
        <br>
        <label>Tour Package To Lakshadweep:</label>
        9876543210
    </div>
    <hr>

    <div>
        <h3>PORT ASSISTANTS</h3>
        <div>
            <label>KOCHI</label>
            <p>1234567</p>
        </div>
        <div>
            <label>MANGALURU</label>
            <p>7654321</p>
        </div>
    </div>

</div>