<div class="ship-schedule">

    <div class="search-options">
        <select>
            <option>--Select Ship--</option>
            <option>ABC</option>
            <option>DEF</option>
            <option>XYZ</option>
        </select>
        <br>
        <button>Search</button>
    </div>

    <div class="search-results">
        <table>
            <caption>Ships Available</caption>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Ship ID</th>
                <th>Ship Name</th>
                <th>Source</th>
                <th>Destination</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

</div>