<div>
    
    <div>
        <h2>TERMS AND CONDITIONS</h2>
        <p>The Department of Port, Shipping and Aviation under the Administration of Lakshadweep UT, Government of India, offers 
            the service ‘ship ticket online’ for the passengers of the ships plying between the mainland and various islands of 
            Lakshadweep. The service delivery is subject to the acts and rules promulgated by the Government from time to time. 
            Electronic delivery of Government services is in compliance to the IT act 2000. The special conditions and terms of 
            service applicable to Internet delivery are detailed in this document.</p>
        <p>Whoever wishes to avail this service has to register in the website http://lakport.nic.in providing his/her personal 
            details along with email address, mobile number and Aadhaar card number. The registered user will be intimated user 
            name and password to access the portal through registered mobile number as SMS or through registered email. No user 
            will be allowed to register more than once. Once a user is registered in this portal, he/she is deemed to have agreed 
            to the terms and conditions set forth. If the user does not agree with these terms and conditions, he/she must not 
            transact on this website.</p>
    </div>

    <div>
        <h2>PAYMENT OPTIONS</h2>
        <p>The list of payment options available are, internet banking/debit car payment/credit card payment from banks that are 
            listed when selecting each of the above options. Apart from the ship ticket charges, bank/payment gateway transaction 
            charges will be applicable extra. The details booked will be sent as SMS/Email to the registered mobile number/email 
            of the user. The payment history will also be available in the website. The users are to verify the success of the 
            booking in the payment history page.</p>
    </div>

    <div>
        <h2>IDENTITY PROOF</h2>
        <p>All the passengers are to produce their photo ID card along with their ticket details at the time of boarding the ship.</p>
    </div>

    <div>
        <h2>USER CREATION</h2>
        <p>The user of the website is solely responsible for maintaining the confidentiality of the user credentials, 
            and is fully responsible for all the activities that occur under his/her login.</p>
    </div>

</div>