textarea {
    resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}