<div>

    <div>
        <label>Source</label>
        <select>
            <option>--Select Source--</option>
            <option>ABC</option>
            <option>DEF</option>
            <option>XYZ</option>
        </select>
        <br>
        <label>Destination</label>
        <select>
            <option>--Select Destination--</option>
            <option>ABC</option>
            <option>DEF</option>
            <option>XYZ</option>
        </select>
        <br>
        Type of Travel<input type="radio">Direct
        <input type="radio">Indirect
        <input type="radio">All
        <br>
        Class 
        <select>
            <option>Any</option>
            <option>Class 1</option>
            <option>Class 2</option>
            <option>Class 3</option>
        </select>
        <br><br>
        <button>Search</button>
    </div>

</div>