<div>

    <h2>REFUND/CANCELATION POLICY</h2>
    <ol>
        <li>The user can cancel the online ship ticket booked till 3 pm of every previous day of the sailing of the ship for 
            which the user has booked the ticket.</li>
        <li>The cancellation charges will be levied as per the existing cancellation rules.</li>
        <li>The refund will be directly paid to the customers A/C through which the customer booked the ticket online, with in 
            7 days of cancellation of the ticket.</li>
        <li>However the transaction charges levied by the bank/payment gateway will not be refunded.</li>
    </ol>

</div>