<div class="ticket-status"> 

    <div class="no-bookings">
        <label>No Bookings have been made!</label>
    </div>

    <div class="bookings">
        <table>
            <caption>Tickets Booked</caption>
            <tr>
                <th>Ticket No.</th>
                <th>Name of Passenger</th>
                <th>Ship ID & Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Cancellation Option</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>
                    <button>Cancel Ticket</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>
                    <button>Cancel Ticket</button>
                </td>
            </tr>
        </table>
    </div>

</div>